.content {
  padding: 64px;
  padding-left: 200px;
  padding-right: 200px;
}
@media (max-width: 1200px) {
  .content {
    padding: 64px;
  }
  .footer {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.app {
  display: grid;
  grid-template-areas:
    "content"
    "footer";

  grid-template-columns: 1frx;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

.app-loading {
  font-size: 60px;
  color: #2b32b2;
  font-weight: 700;
}
