.room-list {
  flex-grow: 1;
  margin-top: 48px;
}

.list-header {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-bottom: 16px;
}

.list-header-item {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  background-color: #2b32b2;
  border-radius: 5px;
  height: 28px;
  color: white;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 15px;
}

.room-row {
  display: flex;
  height: 50px;
  margin-bottom: 24px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.row-header {
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b32b2;
  min-width: 200px;
}

.row-header-text {
  color: white;
  font-weight: 500;
  font-size: 29px;
}

.row-body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding-left: 16px;
  padding-right: 16px;
}

.row-item {
  display: flex;
  background-color: #2b32b2;
  border-radius: 5px;
  height: 28px;
  color: white;
  align-items: center;
  padding-left: 16px;
  user-select: none;
}

.row-item.error {
  justify-content: center;
  background-color: #141752;
}
