body {
  background-color: #f4f4f4;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 64px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 1200px) {
  .App {
    padding: 64px;
  }
}
