.room-picker {
  display: flex;
  align-items: center;
}

.room-picker-arrow {
  height: 28px;
  width: 28px;
  margin-left: 16px;
}

.day-title {
  font-family: HelveticaNeue-Bold;
  font-size: 30px;
  color: #2b32b2;
  user-select: none;
}

.day-picker-arrow {
  margin-left: 9px;
  margin-right: 9px;
  height: 16px;
  width: 16px;
}
.day-picker {
  display: flex;
  align-items: center;
}
