.top-bar {
  display: flex;
  align-items: flex-start;
}

.current-term-info {
  color: #586069;
}

.query-controller {
  flex-grow: 1;
}

.info-area {
  display: flex;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
}

.modal-heading {
  display: flex;
}
